{{!-- View for pets showing up on the main page --}}
<div class="pet card btn btn-info">
    <img src="./images/catdog.webp" class="card-img-top" />
    <div class="card-body">
        <h5 class="card-title">{{pet_name}}</h5>
        <p class="card-text">
            Pet Type: {{type}}  ||  Age: {{age}}  ||  Breed: {{breed}}  ||  Gender: {{gender}}
        </p>
        <p class="card-text">
            {{description}}
        </p>
        <a href="/pets/{{id}}" class="btn btn-dark">View {{pet_name}}</a>
    </div>
</div>
