{{!-- View for pets showing up on the profile page --}}
<div class="pet card btn btn-info">
    <img src="./images/catdog.webp" class="card-img-top" />
    <div class="card-body">
        <h5 class="card-title">{{get_emoji}} {{pet_name}}</h5>
        <p class="card-text">
            Pet Type: {{type}}  ||  Age: {{age}}  <br>
            Breed: {{breed}}  ||  Gender: {{gender}}
        </p>
        <p class="card-text">
            {{description}}
        </p>
        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    </div>
</div>
