<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-shield-dog"></i> Rescue Pets</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/about">About Pet Adoption</a>
            </li>

            <li class="nav-item">
                {{#if logged_in}}
                <a class="nav-link" href="/profile">My Profile</a>
                <a class="nav-link" href="/signout">Sign Out</a>
                <a class="nav-link" href="/favorites">Favorites</a>
                {{else}}
                <a class="nav-link" href="/signin">Sign In</a>
            <li>
                <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            {{/if}}
            </li>

        </ul>
    </div>

    <form class="form-inline">
        <input class="form-control mr-sm-2" id="search-bar" type="search" placeholder="Search for pets"
            aria-label="Search">
        <button class="btn btn-primary my-2 btn-info" type="submit">Search</button>
    </form>
</nav>

<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{username}}!</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Add New Pet:</h3>

        <form class="form new-pet-form">
            <div class="form-group">
                <label for="pet-name">Pet Name:</label>
                <input class="form-input" type="text" id="pet-name" name="pet-name" />
            </div>
            <div class="form-group">
                <label for="pet-age">Pet Age:</label>
                <input class="form-input" type="number" id="pet-age" name="pet-age" />
            </div>
            <div class="form-group">
                <label for="pet-breed">Pet Breed:</label>
                <textarea class="form-input" id="pet-description" name="pet-description"></textarea>
            </div>
            <div class="form-group">
                <label for="pet-breed">Pet Description:</label>
                <textarea class="form-input" id="pet-breed" name="pet-breed"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>

    {{#if pets.length}}
    <div class="col-md-6 pet-list">
        <h3>Pets List:</h3>

        {{#each pets as |pet|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/pet/{{pet.id}}">{{pet.name}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{pet.id}}">Delete</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="./js/profile.js"></script>